## Introduction to python

## Variable

In [1]:
height=1.79
weight=68.7
bmi=weight/height**2
print(bmi)

21.44127836209856

## Python types

In [2]:
type(bmi)

float

In [3]:
day_of_week = 5
type(day_of_week)

int

In [4]:
x="body mass index"
y='this works too'
type(y)

str

In [5]:
z= True
type(z)

bool

## Python data types
### float-real numbers
### int-integers numbers
### str-string, text 
### bool- True, false

## Python List

In [6]:
fam=['liz', 1.73, 'Emma', 1.68, 'mom', 1.71, 'dad', 1.89]
fam

['liz', 1.73, 'Emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [7]:
type(fam)

list

## Subsetting List

In [8]:
fam=['liz', 1.73, 'Emma', 1.68, 'mom', 1.71, 'dad', 1.89]
fam[3]

1.68

In [9]:
fam[6]

'dad'

In [10]:
fam[3:5]   ##[Start:End ]
            ##inclusive:exclusive

[1.68, 'mom']

In [11]:
fam[:4]

['liz', 1.73, 'Emma', 1.68]

In [12]:
fam[5:]

[1.71, 'dad', 1.89]

## Manipulating Lists
### change list elements

In [13]:
fam=['liz', 1.73, 'Emma', 1.68, 'mom', 1.71, 'dad', 1.89]
fam[7]=1.86
fam

['liz', 1.73, 'Emma', 1.68, 'mom', 1.71, 'dad', 1.86]

In [14]:
fam[0:2]=['lisa', 1.74]
fam

['lisa', 1.74, 'Emma', 1.68, 'mom', 1.71, 'dad', 1.86]

### Adding and removing elements

In [15]:
fam + ['me', 1.79]

['lisa', 1.74, 'Emma', 1.68, 'mom', 1.71, 'dad', 1.86, 'me', 1.79]

In [17]:
fam_ext = fam+['me', 1.79]
del(fam[2])
fam

['lisa', 1.74, 'mom', 1.71, 'dad', 1.86]

In [18]:
fam_ext

['lisa', 1.74, 1.68, 'mom', 1.71, 'dad', 1.86, 'me', 1.79]

## Function

In [1]:
fam=[1.68, 1.76, 1.89, 1.72]
max(fam)

1.89

In [2]:
tallest=max(fam)
tallest

1.89

### round()

In [3]:
round(1.68, 1) #round(number, ndigits)

1.7

In [4]:
round(1.68) #round(number)

2

In [5]:
help(round) # Open up documentation

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

## Methods 
### Built-in functions
#### > maxium of list:max()
#### > Length of list or string: len()
#### > Get index in list:?
#### > Reversing a list: ?

In [8]:
sister = 'liz'   ###########             type      example of methods
                   ##########   object    str        capitilize()
                    ######                              replace()

height = 1.73           ####   object    float       bit_length()
                        ####                          conjugate()
    
fam=['liz', 1.73, 'emma', 1.68,
     'mom',1.71, 'dad', 1.89]### object    list          index()
                            ####                         count()   
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [9]:
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [10]:
fam.index("mom")  # "Call method index() on fam"

4

In [13]:
fam.count(1.73)

1

## str methods

In [15]:
sister

'liz'

In [16]:
sister.capitalize()

'Liz'

In [17]:
sister.replace('z', "sa")

'lisa'

In [18]:
fam.replace("mom", "mommy")

AttributeError: 'list' object has no attribute 'replace'

In [19]:
sister.index("z")

2

In [20]:
fam.index("mom")

4

In [21]:
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [22]:
fam.append("me") ###append(function for addition )

In [23]:
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me']

In [24]:
fam.append(1.79)
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.79]

# Import package

In [32]:
import numpy as np
fam=['liz', 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
fam_ext=fam+["me", 1.79]
print(str(len(fam_ext)) + " element in fax_ext")
np_fam=np.array(fam_ext) #clearly using Numpy

10 element in fax_ext

In [1]:
import pandas as pd
df = {
    "Name": ["aparna", "pankaj", "sudhir", "Geeku", "Chiku", "Jeniffer"], 
    "Degree": ["Bsc", "Engineering", "Law", "MBBS", "Phd", "Nursing"],
    "College": ["VIT", "IIT", "KIIT", "AIMS", "IIIT", "APPOLO"],
    "Score": [90, 70, 80, 98, 76, 89]} 

dict=pd.DataFrame(df)
dict

       Name       Degree College  Score
0    aparna          Bsc     VIT     90
1    pankaj  Engineering     IIT     70
2    sudhir          Law    KIIT     80
3     Geeku         MBBS    AIMS     98
4     Chiku          Phd    IIIT     76
5  Jeniffer      Nursing  APPOLO     89

In [2]:
dict.index=["B","E","L","M","P","N"]
dict

       Name       Degree College  Score
B    aparna          Bsc     VIT     90
E    pankaj  Engineering     IIT     70
L    sudhir          Law    KIIT     80
M     Geeku         MBBS    AIMS     98
P     Chiku          Phd    IIIT     76
N  Jeniffer      Nursing  APPOLO     89